<configuration>
    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>30</maxDepthPerThrowable>
            </throwableConverter>
        </encoder>
    </appender>

    <!-- Sett til "TRACE" hvis du vil se request logging -->
    <logger name="ktor.application" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="stdout_json" />
    </root>
</configuration>
